* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reviews .review-item .review-img img, .about-me-flex .about-me-img img, main .main-img img {
  width: 100%;
  object-fit: cover;
}

body {
  background-color: #DDD9C3;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  background-color: #171717;
}
header .logo-home {
  margin-left: 30px;
}
header .logo-home img {
  width: 170px;
}

.p-link {
  padding: 10px;
  margin: 10px 0;
  font-weight: 500;
  font-style: italic;
}
@media (min-width: 768px) {
  .p-link {
    font-size: 1.4vw;
  }
}

.bm-bg-navbar {
  background-color: #171717;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: #171717;
  color: whitesmoke;
  padding: 20px;
  margin-top: 20px;
}
footer .footer-logo img {
  width: 130px;
}
footer .footer-ig {
  text-align: center;
}
footer .footer-ig img {
  width: 40px;
}

main {
  margin: 0px auto 50px auto;
  width: 70%;
  text-align: center;
}
main h1 {
  font-weight: 500;
  font-style: italic;
  color: rgb(57, 57, 57);
  width: 100%;
  border-bottom: 3px solid rgb(57, 57, 57);
  margin: 50px auto;
}
main .main-img img {
  margin-top: 0px;
  height: 200px;
}

.snippets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(57, 57, 57);
}
.snippets .snippet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  margin: 40px 0px;
}
.snippets .snippet .snippet-img {
  width: 100%;
}
.snippets .snippet .snippet-img img {
  width: 100%;
}
@media (min-width: 768px) {
  .snippets .snippet .snippet-img {
    width: 25%;
  }
}
.snippets .snippet .snippet-descr {
  width: 100%;
}
.snippets .snippet .snippet-descr p {
  margin: 10px 0;
  padding: 10px 0;
}
.snippets .snippet .snippet-descr a {
  background-color: #171717;
  color: whitesmoke;
  text-decoration: none;
  padding: 10px;
  margin: 10px 0;
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .snippets .snippet .snippet-descr {
    text-align: left;
    width: 65%;
  }
}
.snippets .reviews-snippet,
.snippets .merch-snippet {
  flex-direction: row-reverse;
}

.about-me-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  color: rgb(57, 57, 57);
}
.about-me-flex .about-me-img {
  padding: 20px;
}
iframe {
  width: 100%;
}

@media (min-width: 768px) {
  iframe {
    width: 560px;
  }
}
.reviews {
  display: block;
}
@media screen and (min-width: 768px) {
  .reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
  }
}
@media screen and (min-width: 1040px) {
  .reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
  }
}
.reviews .review-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 75% 25%;
  align-items: center;
  gap: 8px;
  border: 3px solid #796D6D;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: whitesmoke;
}
.reviews .review-item .review-text {
  padding: 5px;
  font-size: 14px;
  text-align: left;
}
.reviews .review-item .score {
  grid-column: span 2;
  font-weight: 500;
  margin-top: 10px;
}

.eventos-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.eventos-flex .evento-item {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 3px solid #171717;
  background-color: whitesmoke;
}
@media screen and (min-width: 768px) {
  .eventos-flex .evento-item {
    flex-wrap: nowrap;
  }
}
.eventos-flex .evento-item img {
  width: 35%;
}
.eventos-flex .evento-item .evento-text {
  padding: 20px;
  text-align: left;
}
.eventos-flex .evento-item .evento-text h2 {
  margin-bottom: 15px;
  text-decoration: underline;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.contact-form form {
  width: 70%;
  background-color: whitesmoke;
}

.merch {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  gap: 20px;
}
@media (min-width: 576px) {
  .merch {
    grid-template-columns: repeat(2, 1fr);
  }
}
.merch .merch-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border: 3px solid #171717;
  background-color: whitesmoke;
}
.merch .merch-item img {
  width: 150px;
}
.merch .merch-item .tallas,
.merch .merch-item .price {
  font-weight: 500;
  margin-top: 10px;
}
.merch .merch-item .price {
  font-size: 25px;
}

/*# sourceMappingURL=main.css.map */
