@import "utilities/variables";
@import "utilities/mixin";
@import "base/reset";
@import "base/layout";


// Snippets de Home
.snippets {
    @include flex-center;
    flex-direction: column;
    color: $text-color-dark;
    
    .snippet {
        @include flex-wrap-center;
        gap: 30px;
        margin: 40px 0px;
        
        .snippet-img {
            @include img-box-style;
            width: 100%;
            img {
                width: 100%;
            }
            @media (min-width: 768px) {
                width: 25%;
            }
        }
        
        .snippet-descr {
            width: 100%;
            p {
                margin: 10px 0;
                padding: 10px 0;
            }
            a {
                @include btn-primary;
                background-color: $secondary-color;
                color: $text-color-light;
                border: 2px solid $text-color-light;
            }
            @media (min-width: 768px) {
                text-align: left;
                width: 65%;
            }
        }
    }

    .reviews-snippet,
    .merch-snippet {
        flex-direction: row-reverse;

    }


}


// Sobre BM
.about-me-flex {
    @include flex-center;
    flex-direction: column;
    gap: 50px;
    color: $text-color-dark;

    .about-me-img {
        @include img-box-style;

        img {
            width: 100%;
        }
    }
}

iframe {
    width: 100%;
}

@media (min-width: 768px) {
    iframe {
        width: 560px;
    }
}

// Recomendaciones BM
.reviews {
    display: block;

    @media screen and (min-width: 768px) {
        @include grid-layout(5,2);
    }

    @media screen and (min-width: 1040px) {
        @include grid-layout(3,3);
    }

    .review-item {
        @include grid-review-item;
        @include img-box-style;
        margin-bottom: 20px;

        .review-img img {
            width: 100%;
        }

        .review-text {
            padding: 5px;
            font-size: 14px;
            text-align: left;
        }

        .score {
            grid-column: span 2;
            font-weight: 500;
            margin-top: 10px;
        }
    }
}

// Eventos y Contacto
.eventos-flex {
    @include flex-wrap-center;
    gap: 20px;

    .evento-item {
        display: flex;
        flex-wrap: wrap;
        @media screen and (min-width: 768px) {
            flex-wrap: nowrap;
        }
        gap: 10px;
        @include img-box-style;
        
        img {
            width: 100%;
            padding: 10px;
            margin: 0px auto;
            @media screen and (min-width: 768px) {
                width: 35%;
            }
        }

        .evento-text {
            padding: 20px;
            text-align: left;

            h2 {
                margin-bottom: 15px;
                text-decoration: underline;
            }
        }
    }
}

// Estilos Formulario Contacto
.contact-form {
    @include img-box-style;
    margin-top: 50px;
}

form {
    fieldset{

        .form-input {
            padding: 0px 20px;
            label {
                display: block;
                text-align: left;
            }
            input, textarea {
                display: block;
                width: 100%;
            }
            textarea {
                height: 150px;
            }
        }

        .form-submit {
            @include btn-primary;
            background-color: $bg-review-color;
            color: $text-color-dark;
            border: 2px solid $border-color;
            margin: 20px auto;
            display: inline-block;
        }

        @media screen and (min-width: 768px) {   
            @include grid-layout(5,2);
            grid-template-rows: 1fr 1fr 1fr auto 1fr;
            legend, .form-comments, .form-submit {
                grid-column: span 2;
            }
        }
    }
}

// Estilos de Merch
.merch {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    gap: 20px;

    @media (min-width: 576px) {
        grid-template-columns: repeat(2, 1fr);
    }

    .merch-item {
        @include flex-center;
        flex-direction: column;
        gap: 10px;
        padding: 15px;
        border: 3px solid $secondary-color;
        background-color: $bg-review-color;

        img {
            width: 150px;
        }

        .tallas,
        .price {
            font-weight: 500;
            margin-top: 10px;
        }

        .price {
            font-size: 25px;
        }
    }
}