
// Estilos de Snippets de Home
.snippets {
    @include flex-center;
    flex-direction: column;
    color: $text-color-dark;
    
    .snippet {
        @include flex-wrap-center;
        gap: 30px;
        margin: 40px 0px;
        
        .snippet-img {
            @include img-box-style;
            width: 100%;
            img {
                width: 100%;
            }
            @media (min-width: 768px) {
                width: 25%;
            }
        }
        
        .snippet-descr {
            width: 100%;
            p {
                margin: 10px 0;
                padding: 10px 0;
            }
            a {
                @include btn-primary;
                background-color: $secondary-color;
                color: $text-color-light;
                border: 2px solid $text-color-light;
            }
            @media (min-width: 768px) {
                text-align: left;
                width: 65%;
            }
        }
    }

    .reviews-snippet,
    .merch-snippet {
        flex-direction: row-reverse;

    }


}