// Variables
$primary-color: #DDD9C3;
$secondary-color: #171717;
$bg-review-color: whitesmoke;
$button-color: #171717;
$font-primary: "Inconsolata", monospace;
$text-color-dark: rgb(57, 57, 57);
$text-color-light: whitesmoke;
$border-color: #796D6D;