@import "../utilities/variables";

body {
    background-color: $primary-color;
    font-family: $font-primary;
    font-optical-sizing: auto;
    font-style: normal;
}

// Estilos de header
header {
    background-color: $secondary-color;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    @media (min-width: 768px) {
        width: 95%;
        margin: 0 auto;
    }
    .logo-home {
        margin-left: 30px;

        img {
            width: 150px;
        }
    }
}

// Botones de navbar
.p-link {
    padding: 10px;
    margin: 10px 0;
    font-weight: 500;
    font-style: italic;

    @media (min-width: 768px) {
        font-size: 1.4vw;
    }
}

.bm-bg-navbar {
    background-color: $secondary-color;
}

// Estilos de footer
footer {
    @include flex-center;
    justify-content: space-between;
    background-color: $secondary-color;
    color: $text-color-light;
    padding: 20px;
    margin-top: 20px;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    @media (min-width: 768px) {
        width: 95%;
        margin: 20px auto 0px auto;
    }
    
    .footer-logo img {
        width: 130px;
    }
    
    .footer-ig {
        text-align: center;
        
        img {
            width: 40px;
        }
    }
}

// Estilos del Main
main {
    margin: 0px auto 50px auto;
    width: 70%;
    text-align: center;

    h1 {
        font-weight: 600;
        font-style: italic;
        color: $text-color-dark;
        width: 100%;
        border-bottom: 3px solid $text-color-dark;
        margin: 50px auto;
    }

    .main-img {
        img {
            margin-top: 0px;
            height: 300px;
            width: 100%;
            object-fit: cover;
        }
    }
}